body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    .content {
        max-width: calc(100vw - 50px);
        margin-left: 300px;
        
        @media (max-width: 1400px) {
        	max-width: calc(100vw - 50px);
        	margin-left: auto;
        }
    }
}
